<h1>Listing flowers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flowers.each do |flower| %>
  <tr>
    <td><%= link_to 'Show', flower %></td>
    <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
    <td><%= link_to 'Destroy', flower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flower', new_flower_path %>
