<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
    	<title>Flower Keeper · <%= @title %></title>
    
    	<%= render 'layouts/stylesheets' %>
  	</head>

	<body>
    	<div class="container-narrow">

	      	<div class="masthead">
    	    	<ul class="nav nav-pills pull-right">
        	  		<li class="active"><a href="#">Главная</a></li>
          			<li><a href="#">Управление</a></li>
          			<li><a href="#">Настройки</a></li>
	        	</ul>
    	    	<h3 class="muted">Flower Keeper</h3>
	      	</div>

      		<hr>

      		<div class="row-fluid marketing">
        		<%= yield %>
      		</div>

      		<hr>

      		<div class="footer">
        		<p>© Nikita Vasiliev 2012</p>
      		</div>
    	</div> <!-- /container -->

    	<!-- Le javascript
    	================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
	</body>
</html>
